/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border: 1px solid #ccc;
}

.none {
    display: none;
}

.active {
    display: block;
}

body {
    position: relative;
}

/* MAIN */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.style-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* PREV-BTN, NEXT-BTN CONTAINER*/
#prev, #next {
    width: 35px;
    height: 35px;
    margin: 10px 0;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.container> #prev, 
.container> #next {
    width: 35px;
    height: 35px;
}

.container> #prev {
    left: 50px;
}

.container> #next {
    right: 20px;
}

#prev::after , #next::after{
    content: "";
    transform: rotate(45deg);
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    display: block;
    position: absolute;
}

.container> #prev::after, 
.container> #next::after {
    width: 10px;
    height: 10px;
}

#prev::after{
    top: 33%;
    left: 58%;
    transform: translate(-50%) rotate(220deg);
}

#next::after {
    top: 33%;
    left: 40%;
    transform: translate(-50%) rotate(45deg);
}



/* SLIDE-IMG */
.slide-img {
    width: 800px;    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}

.image {
    width: 80px;
}

.image:hover {
    position: relative;
    bottom: 0;
    width: 200px;
    height: 150px;
}


.border-blu {
    box-shadow: 10px 10px 15px #aaaaaa;
}